@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Layout/_LayoutMaster.cshtml";
}

<section id="error">
    <div class="container">
        <h1>Error</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "Home")
            </li>
            <li class="breadcrumb-item active">Error</li>
        </ol>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Error! Some thing wrong.</h1>
                <p>An error occurred while processing your request. <br />
                Please contact to Administrator to know more information!</p>
            </div>
        </div>
    </div>
</section>
<section id="foward">
    <div class="container">
        <div class="text-center">
            @Html.ActionLink("RETURN TO HOME PAGE", "Index", "Home", null, new { @class = "btn btn-primary btn-lg" })
        </div>
    </div>
</section>


