@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdminCP/Views/Shared/_LayoutAdminCP.cshtml";
}

<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <div class="panel panel-headline">
                <div class="panel-heading">
                    <h1 class="panel-title">Role Management</h1>
                    <p class="panel-subtitle"></p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        @using (Html.BeginForm("SaveRole", "Role", FormMethod.Post))
                        {
                            <div class="col-md-4">
                                <div class="form-group">@Html.ActionLink("REFRESH BUSINESS", "UpdateRole", null, new { @class = "btn btn-success btn-md" })</div>
                                <div class="form-group">
                                    @if (TempData["Updated"] != null)
                                    {<div class="alert alert-success alert-dismissable"><span class="close" data-dismiss="alert">&times;</span><i class="fa fa-info"></i> @TempData["Updated"]</div>}
                                    @Html.DropDownList("Role", (IEnumerable<SelectListItem>)ViewBag.RoleList, new { @class = "form-control", @id = "roleList", @onchange = "GetBusinessData(this.value)" })
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h3>Business List</h3>
                                <p class="text-info">Please select a business in business list if you want to update!</p>
                                <div id="business"></div>
                                <table class="table-responsive table-striped table-bordered table">
                                    <thead>
                                        <tr>
                                            <th>Select</th>
                                            <th>Business Name</th>
                                            <th>Area Name</th>
                                            <th>Description</th>
                                        </tr>
                                    </thead>
                                    <tbody id="businessList"></tbody>
                                </table>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function GetBusinessData(roleid) {
        var xhttp = new XMLHttpRequest();
        if (roleid == "")
        { document.getElementById("businessList").innerHTML = ""; return; }
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("businessList").innerHTML = this.responseText;
            }
        };
        xhttp.open("POST", "../Role/GetBusiness?roleid=" + roleid, true);
        xhttp.send();
    }

    function UpdateBusinessData(businessid) {
        var roleid = document.getElementById("roleList").value;
        var xhttp = new XMLHttpRequest();

        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("business").outerHTML = this.responseText;
                $("#business").delay(2000).slideUp(200, function () {
                    $("#business").outerHTML = "<div id='business'></div>";
                });
            }
        };
        xhttp.open("POST", "../Role/UpdateBusiness?roleid=" + roleid + "&businessid=" + businessid, true);
        xhttp.send();
    }

    $(".alert").delay(2000).slideUp(200, function () {
        $(this).alert('close');
    });
</script>